category-encoders==2.6.3
gpboost==1.5.1
KDEpy==1.1.9
keras-vis==0.4.1
matplotlib==3.9.0
PyYAML==6.0.1
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-probability==0.23.0
torch==2.3.1
vis==0.0.5
